
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form class=" form-group" method="post">
    <div>
        Number :<input type="text" name="number" id="number" />

        <br /><br /> Calculate: @ViewBag.conc<br /><br />
        <button>Calculate Factorial</button>
    </div>

</form>